<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav th:fragment="menu">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">Reserva de Cumê</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li sec:authorize="hasRole('STUDENT')"><a th:href="@{/lunchrequests/form}">Adicionar
						Solicitação</a></li>
				<li sec:authorize="hasAnyRole('ADMIN', 'ASAES', 'COORD')"><a th:href="@{/students}">Alunos</a></li>
				<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/publicservers}">Servidores</a></li>
				<li sec:authorize="hasAnyRole('ADMIN', 'ASAES', 'COORD')"><a th:href="@{/lunchrequests}">Solicitações</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Sair</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>