<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Cumê</title>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<h3>Faça sua reserva!</h3>
		<p th:if="${msg}" th:text="${msg}"></p>
		<form th:action="@{/lunchrequests}" method="post">

			<div class="switch">
				<label> <input type="checkbox" name="confirmation">
					<span class="lever"></span> Confirma a solicitação?
				</label>
			</div>
			<div>
				<br>
				<button class="waves-effect waves-light btn" type="submit">Adicionar</button>
			</div>
		</form>
	</div>
	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.sidenav').sidenav();
		});
	</script>
</body>
</html>