<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Cumê</title>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<h3>Lista de reservas</h3>

		<table class="highlight">

			<thead>
				<tr>
					<th>Id</th>
					<th>Matrícula</th>
					<th>Nome</th>
					<th>Data do Almoço</th>
					<th>Horário da Solicitação</th>
					<!-- 					<th></th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="lr : ${lunchRequests}">
					<td th:text="${lr.id}">1</td>
					<td th:text="${lr.student.registration}">2023140102232323</td>
					<td th:text="${lr.student.name}">João Fulano</td>
					<td
						th:text="${#temporals.format(lr.lunchRequestDate, 'dd/MM/yyyy')}">25/02/2021</td>
					<td
						th:text="${#temporals.format(lr.dateTimeOfRequest, 'HH:mm:ss dd/MM/yyyy')}">25/02/2021</td>
					<!-- 					<td th:text="${lr.dateTimeOfRequest}">19:00</td> -->
				</tr>
			</tbody>
		</table>

	</div>
	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.sidenav').sidenav();
		});
	</script>
</body>
</html>